# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history/
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart
# Do not include pubspec.lock for libraries
/pubspec.lock
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
**/doc/api/

# iOS / macOS
*.xcworkspace
*.xcuserdata
*.flutter-plugins
*.flutter-plugins-dependencies
Pods/
DerivedData/
